.header{
    -webkit-box-shadow: -1px 8px 8px 0px rgba(19, 41, 58, 0.28);
    -moz-box-shadow: -1px 8px 8px 0px rgba(19, 41, 58, 0.28);
    box-shadow: -1px 8px 8px 0px rgba(19, 41, 58, 0.28);

    padding: 1.5em 1em;
}